<div>
  <div class="new">
    Book a New Stay
  </div>
  <div class="top-row">
    <div class="check-in tiny-rectangles">
      Check-in Date
      <span class="material-symbols-outlined">calendar_month</span>
    </div>
    <div class="check-out tiny-rectangles">
      Check-out Date
      <span class="material-symbols-outlined">calendar_month</span>
    </div>
    <div class="guest-info">
      Guest's First Name:
      Guest's Last Name:
      Guest email:
      Guest phone:
      Notes:
    </div>
  </div>
  <div class="bottom-row">
    <div class="room-type">
      Select A Room Type
      <button mat-raised-button class="king">King Suite</button>
      <button mat-raised-button class="queen">Queen Suite</button>
      <span class="material-symbols-outlined">info</span>
    </div>
    <div class="rate">
      Confirm Rate
      <div class="rate-here">$$$</div>
    </div>
    <div class="credit-card">
      Add a Credit Card
      Card Number:
      Exp:
      CVV:
      <span class="material-symbols-outlined">info</span>
    </div>
  </div>
</div>
