.new{
  font-size: 32px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.top-row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.tiny-rectangles{
  height: 85px;
  width: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.calendar-date{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.check-in{
  border: solid 6px #7ed957;
  margin-left: 22px;
}

.check-out{
  border: solid 6px #ff69b1;
  margin-left: 22px;

}

.guest-info{
  height: 230px;
  width: 445px;
  border: solid 6px #ec8fd0;
}

.bottom-row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.mat-icon{
  width: 45px !important;
  height: 45px !important;
  font-size: 45px;
  margin-right: 35px;
  margin-top: 10px;
}

.mat-icon{
  width: 45px !important;
  height: 45px !important;
  font-size: 45px;
  margin-right: 35px;
  margin-top: 10px;
}

.info{
  font-size: 25px !important;
  position: absolute;
  bottom: -20px;
  right: -45px;
}

.credit-card-icon{
  font-size: 25px !important;
  display: flex;
  position: relative;
  margin-top: -25px;
  margin-right: 10px !important;
}

.room-type{
  border: solid 6px #e086c2;
  height: 170px;
  width: 270px;
  text-align: center;
  position: relative;
}

.rate{
  border: solid 6px #ff69b1;
  height: 170px;
  width: 270px;
  text-align: center;
  position: relative;
}


.rate-ception{
  border: solid 3px #7ed957;
  height: 70px;
  width: 215px;
  margin: 40px 27px 10px 27px;
}

.credit-card{
  height: 230px;
  width: 445px;
  border: solid 6px #7ed957;
  position: relative;
}

.king{
  display: flex;
  margin-left: 15px;
  background-color: #8ede6c !important;
  color: white !important;
}

.queen{
  display: flex;
  background-color: #ec8fd0 !important;
  color: white !important;
}

.position-buttons{
  margin-top: -7px;
  display: flex;
  flex-direction: row;
}

.queen:disabled{
  background-color: #e14eb5 !important;
  color: white !important;
}

.king:disabled{
  background-color: #55ba2a !important;
  color: white !important;
}

.assign-room{
  margin-top: -13px;
  background-color: #b3519c !important;
  color: white !important;
  width: 150px;
  height: 30px;
}

.book{
  background: linear-gradient(to left
  , #fff7ad, #ffa9f9);
  color: #4b2141 !important;
  width: 40%;
}

.cancel{
  margin-left: 20px;
  background: linear-gradient(to left
  , #ff6c69, #ffa9f9);
  color: #4b2141 !important;
}

.book:disabled{
  background: #c5bcbf !important;
}

.book-container{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.style-guest-name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
}

.style-guest-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.style-credit-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 5px;
}

.move-icon{
  margin-right: 15px;
  position: absolute;
  top: 232px;
  left: 421px;
}

.sold-out-message{
  color: #ff6c69;
  margin-left: 15px;
}

.fix-tool-tip{
  white-space: pre-line !important;
}
