<div>
  <div class="new">
    Book a New Stay
  </div>
  <div class="top-row">
    <div class="check-in tiny-rectangles">
      <div class="calendar-date">
        <p>Check-in Date</p>
        <mat-icon class="material-symbols-outlined">calendar_month</mat-icon>
      </div>
      <p>MM/DD/YYYY</p>

    </div>
    <div class="check-out tiny-rectangles">
      <div class="calendar-date">
        <p>Check-out Date</p>
        <mat-icon class="material-symbols-outlined bigger-calendar">calendar_month</mat-icon>
      </div>
      <p>MM/DD/YYYY</p>
    </div>
    <div class="guest-info">
      <p>Guest's First Name:</p>
      <p>Guest's Last Name:</p>
      <p>Guest email:</p>
      <p>Guest phone:</p>
      <p>Notes:</p>
    </div>
  </div>
  <div class="bottom-row">
    <div class="room-type">
      <p>Select A Room Type</p>
      <button mat-raised-button class="king">King Suite</button>
      <button mat-raised-button class="queen">Queen Suite</button>
      <mat-icon class="info">info</mat-icon>
    </div>
    <div class="rate">
      <p>Confirm Rate</p>
      <div class="rate-ception"><p>$$$</p></div>
      <mat-icon class="material-symbols-outlined info">info</mat-icon>
    </div>
    <div class="credit-card">
      <p>Add a Credit Card</p>
      <p>Card Number:</p>
      <p>Exp:</p>
      <p>CVV:</p>
    </div>
  </div>
  <div class="book-container">
    <button mat-raised-button class="book" (click)="openDialog()">Book</button>
  </div>
</div>
