.home-container{
  padding: 40px;
}

.welcome{
  font-size: 32px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.square-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.square-shapes{
  width: 250px;
  height: 300px;
  border-radius: 1em;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.book{
  border: 10px solid #7ed957;
}

.gradient-box {

  position: relative;
  box-sizing: border-box;

  border: 10px;
  color: #000000;
  background: #FFF;
  background-clip: padding-box; /* !importanté */
  border: solid transparent; /* !importanté */
  border-radius: 1em;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -10px; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to left
    , #fff7ad, #ffa9f9);
  }
}

.upcoming{
  border: 10px solid #ff69b1;
}
