
<h1 mat-dialog-title class="center-text">Thank you!</h1>
<mat-dialog-content>
  <h2 class="center-text">Your Stay has been {{ data.isCreate ? "Booked" : "Updated" }}</h2>
  <p class="center-text bigger-text">Checking in: {{ data.checkInDate | date:"fullDate" }} <br/><br/> Checking
    out: {{ data.checkOutDate | date: "fullDate" }}</p>
  <p class="center-text bigger-text">Room Type: {{ data.roomType }} Suite</p>
  <p class="center-text bigger-text">Stay ID: {{ data.stayId }}</p>
</mat-dialog-content>

<mat-dialog-actions class="fix-button">
  <button mat-button mat-dialog-close class="modal-button">Continue</button>
</mat-dialog-actions>

