<div>
  <div class="search-bar">
    Search by Last Name or Confirmation Number
  </div>
  <div class="welcome">
    Welcome [Emp_Fname]!
  </div>
  <div>
    <div class="today">
      Today's Outlook
    </div>
    <div class="square-container">
      <div class="arrivals small-square-shapes">
        Arrivals
        [X]
      </div>
      <div class="departures small-square-shapes">
        Departures
        [X]
      </div>
      <div class="availability small-square-shapes">
        Availability
        [X]
      </div>
    </div>
    <div class="square-container">
      <div class="house-guests big-rectangles">
        In House Guests
        [X]
      </div>
      <div class="new-stay big-rectangles">
        <router-outlet routerLinkActive routerLink="/new-stay">Book a New Stay</router-outlet>
      </div>
      <div class="room-status big-rectangles">
        Room Status
      </div>
    </div>
  </div>
</div>
