<div>
  <div class="search-bar">
    Search by Last Name or Confirmation Number
      <form class="style-form">
        <input class="input-margin">
        <button mat-icon-button><mat-icon>search</mat-icon></button>
      </form>

  </div>
  <div class="welcome">
    Welcome [Emp_Fname]!
  </div>
  <div>
    <div class="today">
      Today's Outlook
    </div>
    <div class="square-container">
      <a class="arrivals small-square-shapes" routerLink="/today-arrivals">
        Arrivals
        {{arrivalCount}}
      </a>
      <a class="departures small-square-shapes" routerLink="/today-departures">
        Departures
        {{departureCount}}
      </a>
      <div class="availability small-square-shapes">
        Availability
        [X]
      </div>
    </div>
    <div class="square-container">
      <a class="house-guests big-rectangles">
        In House Guests
        [X]
      </a>
      <a routerLink="/new-stay" class="new-stay big-rectangles">
        Book a New Stay
      </a>
      <a class="room-status big-rectangles">
        Room Status
      </a>
    </div>
  </div>
</div>
