<div>
  <div class="search-bar">
    Search by Last Name or Confirmation Number
      <form class="style-form">
        <input class="input-margin">
        <button mat-icon-button><mat-icon>search</mat-icon></button>
      </form>

  </div>
  <div class="welcome">
    Welcome {{user.employeeFname}}!
  </div>
  <div>
    <div class="today">
      Today's Outlook
    </div>
    <div class="square-container">
      <a (click)="routeToTable('arrivers')" class="arrivals small-square-shapes">
        Arrivals
        {{arrivalCount}}
      </a>
      <a (click)="routeToTable('departers')" class="departures small-square-shapes">
        Departures
        {{departureCount}}
      </a>
      <div class="availability small-square-shapes">
        Availability
        {{availableRoomCount}}
      </div>
    </div>
    <div class="square-container">
      <a class="house-guests big-rectangles" (click)="routeToTable('inHouseGuests')">
        In House Guests
        {{checkedInCount}}
      </a>
      <a (click)="newStay()" class="new-stay big-rectangles">
        Book a New Stay
      </a>
      <a class="room-status big-rectangles" (click)="routeToRoomTable()">
        Room Status
      </a>
    </div>
  </div>
</div>
