<mat-button-toggle-group name="room-status" aria-label="Show All..." [formControl]="cleanFilter">
  <mat-button-toggle class="status-toggle" value="clean" (click)="applyFilter('clean')">Clean</mat-button-toggle>
  <mat-button-toggle class="status-toggle" value="dirty" (click)="applyFilter('dirty')">Dirty</mat-button-toggle>
</mat-button-toggle-group>

<mat-button-toggle-group name="room-type" aria-label="Show All..." [formControl]="typeFilter">
  <mat-button-toggle class="type-toggle" value="queen" (click)="applyFilter('queen')">Queen</mat-button-toggle>
  <mat-button-toggle class="status-toggle" value="king" (click)="applyFilter('king')">King</mat-button-toggle>
</mat-button-toggle-group>

<button mat-button class="save-button" (click)="saveChanges()">Save Changes</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- room id -->
    <ng-container matColumnDef="roomId">
      <th mat-header-cell *matHeaderCellDef> Room Number</th>
      <td mat-cell *matCellDef="let row"> {{ row.roomId }}</td>
    </ng-container>

    <!-- current status -->
    <ng-container matColumnDef="roomIsClean">
      <th mat-header-cell *matHeaderCellDef> Current Room Status</th>
      <td mat-cell *matCellDef="let row" class="roomIsClean-text">
        @if (row.roomIsClean === true)
      {
        Clean
      } @else
      {
        Dirty
      }
       </td>
    </ng-container>

    <!-- change -->
    <ng-container matColumnDef="changeRoomIsClean">
      <th mat-header-cell *matHeaderCellDef>Update Status</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (change)="updateRoomStatus($event, row.roomId)">
          @if(row.roomIsClean === true){
            Dirty
          }
           @else{
             Clean
           }</mat-checkbox>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>


