.space-the-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 120px;
}

.save-button{
  background: linear-gradient(to left
  , #fff7ad, #ffa9f9);
  color: #4b2141 !important;
  width: 20%;
}
