.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 95px;
  background-color: #eaaed6;
  font-family: "Open Sans", sans-serif;

}
 .logo{
   margin-left: 15px;
   margin-top: 10px;
 }
.staycomm{
  margin-top: 55px;
}
.user-type{
  margin-top: 64px;
  margin-left: 10px;
}
